
h3{
	font-family:Helvetica,sans-serif;
}
#rtemplates_block{
	width: 50%;
	font-family: verdana, sans-serif;
	font-size: 80%;
	margin-top: 1em;
}
#rtemplates_block .current{
}
#rtemplates_block .rtemplate_item {
	clear: both;
	overflow: hidden;
}
#rtemplates_block .rtemplate_item  .thumbnail{
	padding: 1em;
	float: left;
}
#rtemplates_block .rtemplate_item .thumbnail img{
	border: 1px solid #ABABFF;
	height: 8em;
}
#rtemplates_block .rtemplate_item  .details{
	float: left;
	width: 40%;
	height: 8em;
	padding: 1em;
}
#rtemplates_block .rtemplate_item  .details .name{
	font-weight: bold;
}
#rtemplates_block .rtemplate_item .tick_mark{
	float: left;
	padding-left: 4em;
	padding-top: 1em;
	height: 4em;	
}
#rtemplates_block .rtemplate_item  .set_button{
	float: left;
	padding-left: 4em;
	padding-top: 1em;
	height: 4em;	
}
