
<link rel="stylesheet" type="text/css" href="/stylesheets/static_pages/static_pages.css" />	

<div id="container">
	<div class="interior">
		<div class="text">
			
			<p>	
				ResumeCreator is an answer to all resume creation-updation hassles.
				The point is to make an online tool that can
			</p>
			<ul>
					<li>help quickly update resumes. </li>
					<li>separate resume data from layout, and fit once entered data into various layouts.</li>
					<li>provide nice looking layouts, to get rid of formatting in Word.</li>
					<li>create nice looking pdfs for the resume.</li>
					<li>host the resume, and provide a public link for it. </li>
			</ul>
			<p>	
				The tool simply uses the power of internet technologies to achieve these and more.
			</p>	
			
			<p>
				Its has been a single-person-guided-by-friends effort as of now, 
				so just in case you'd like to know the developer, he's <a href="http://theabhishek.com">here</a>.
			</p>
			
		</div>
	</div>
</div>