
<link rel="stylesheet" type="text/css" href="/stylesheets/static_pages/static_pages.css" />

<div id="container">
	<div class="interior">
		<div class="text">
			<p>
				Email: <b>bigbeliever at gmail dot com</b>
			</p>
		</div>
	</div>
</div>