


<link rel="stylesheet" type="text/css" href="/stylesheets/static_pages/static_pages.css" />

<div id="container">
	<div class="interior">
		<div class="text">
			<div class="qa_pair">
				<div class="question">
					What is "<i>resumeCreator</i>"?
				</div>
				<div class="answer">
					"<i>resumeCreator</i>" is a free online tool that helps you create and update resume conviniently.
				</div>
			</div>
			<div class="qa_pair">
				<div class="question">
					Do I need such a thing?
				</div>
				<div class="answer">
					If you have ever faced one or many of the following problems, you might consider using <i>resumeCreator</i>
					<ul>
						<li>You want to update your resume quickly, to apply for an upcoming opening,
						but find it too tedious to do.</li>
						<li>Your find MS Word difficult to use while formatting your resume.
						Setting the headings correct and uniform, getting the table width right,
						getting the fonts correct are things that need some Word-expertise.</li>
						<li>You want to convert your resume to pdf, but can't find free tools to do it.</li>
						<li>You are relatively new to resume creation, and don't know what a good resume should be like.</li>
						<li>You don't seem to remember where you kept your last created resume,
						or which one of all the files in the folder is your latest resume.</li>
					</ul>
				</div>
			</div>
			<div class="qa_pair">
				<div class="question">
				What all can I do with <i>resumeCreator</i>?
				</div>
				<div class="answer">
				With <i>resumeCreator</i> you can -
				<ul>
					<li>Create and edit a resume</li>
					<li>Choose one of the existing resume-templates for the look-n-feel of the resume.</li>
					<li>Generate a pdf for the resume and take its print.</li>
					<li>See the resume output in html.</li>
					<li>Make the resume public (publish it). You'll get a URL which will point to your hosted resume.</li>
				</ul>
				</div>
			</div>
			<div class="qa_pair">
				<div class="question">
				How is it better than the many resume creation services available on the web? And the software-X?
				</div>
				<div class="answer">
				Most of such services are 'services' and are not free.
				These services offer manually creating-formatting you resume for exchange of a fee.
				Softwares need to be downloaded-installed and learned, and paid for.
				They may have their own advantages, but <i>resumeCreator</i> is a tool, online, free and <b>easy</b>.
				</div>
			</div>
			<!--
			<div class="qa_pair">
				<div class="question">
				Is my data secure at <i>resumeCreator</i>? How about privacy?
				</div>
				<div class="answer">
				Please go through our <a href="/terms">terms of service</a> and <a href="/privacy">privacy policies</a>.
				Short answers: keeping your data secure at <i>resumeCreator</i> is very necessary for our success, so yes, it will remain secure.
				And we don't share your personal information with anyone, we don't sell it and we don't spam you.
				</div>
			</div>
			-->
		</div>
	</div>
</div>