
<link rel="stylesheet" type="text/css" href="/stylesheets/static_pages/static_pages.css" />

<div id="container">
	<div class="interior">
		<div class="text">
			<p>
				Email your feedback at </b>bigbeliever at gmail dot com</b>
			</p>
			<p>
				You can also share your feedback-suggestions-ideas at this
				<a href="http://groups.google.com/group/resumecreator">google group</a>
			<p>
		</div>
	</div>
</div>