
<link rel="stylesheet" type="text/css" href="/stylesheets/static_pages/static_pages.css" />	

<div id="container">
	<div class="interior">
		<div class="text">
			<p>
				We respect your privacy.
			</p>
			<p>
				While creating resumes using the tool, you might reveal a lot of personal information. 
				We never sell/share any of your personal information with any third party.
			</p>	
			<p>
				The resumes you create are by default private. 
				Only when you change your resume's publish status to public, can your resume be publically accessed.
			</p>
			<p>
				All 'public' resumes (public status = public) are visible to everyone on the internet.
			</p>
			<p>
				Your email-id is needed for registration. 
				We never send you any promotional material/advertisements/announcements etc,
				without explicitly taking permission.
				The only time we email you is when someone sees your public resume, 
				is interested in hiring you, and wants to contact you. 
				In such case, we would seek permission through email.
			</p>
		</div>
	</div>
</div>
