

<link rel="stylesheet" type="text/css" href="/stylesheets/static_pages/static_pages.css" />	

<div id="container">
	<div class="interior">
		<div class="text">
			<p>
				Use of this tool comes without any guarantees, so if it causes any damages somehow, the tool won't be responsible.
			</p>
			<p>
				Users are prohibited from doing any illegal or obscene activities using the tool. 
				Though it is totally the user's responsibility, any such users would be immidiately banned from the use of the tool.	
			<p>	
		</div>
	</div>
</div>