
<!-- add markup for profile part. Includes a button stripe at the end -->
<!-- 
	CLASSname 	:DESCRIPTION and USAGE
	partUnit 	:a single instance of the part - one profile detail (represnted by one object)
	partItem	:an item within a part - field of the model (a property of object) eg - profile level
	deleteable	:an element that can be deleted with a delete button within it
	key_text	:the text that is displayed as the label for data displayed or input box renderd 
	display		:identifies an element that displays data while show
	edit		:identifies an imput box meant for editing
	add			:identifies an input box meant for adding
	delete_button:	a button that can trigger the delete functionality and delete the deletable element
-->

<div class="addPart">

	<div class="partItem profile_text">
		<!--<span class="key_text">profile text</span>-->
		<div class="value_block">
			<span class="display hidden"></span>
			<textarea 
				class="add tooltip_trigger"
				name="profile[profile_text]"
				></textarea>
			<span class="tooltip hidden">summary of your career/skillset or career objectives.</span>	
		</div>		
	</div>
	
	<div class="delete_button">	
		<button type="button">delete</button>
	</div>		
	
</div> 
				