<!--
	URL/new/:title/profiles	
	app/views/profiles/new.html.erb 
	The new resume-profiles view - displays the form to enter profiles part for a resume (:title) of a user
	controller: profiles, action: new 
-->	

<link rel="stylesheet" type="text/css" href="/stylesheets/resume_common.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/profiles/new.css" />	

<div class="heading">
	<h3> Add new Profile </h3>
	<div class="links">	</div>	
</div>

<% url = '/create/'+@resume.title+'/profiles' %>
<% form_tag(url, :method => "post") do %>

	<table class="profile_table">
		<tr>
			<td class="column1">	Profile info	</td>
			<td class="column2">
				<textarea 
					name="profile[profile_text]"
					class="profile_text"></textarea></td>
		</tr>
		<tr>  
			<td></td>
			<td class="submit"><input name="commit" type="submit" value="Create" /></td>	
		</tr> 
	</table>	
	
<% end #form %> 

<% if RAILS_ENV == "production" %>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.tipTip.minified.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jgrowl_minimized.js"></script>
<script type="text/javascript" src="/javascripts/resume_common.js"></script>
<script type="text/javascript" src="/javascripts/profiles/new.js"></script>	
<% end %>

<% if RAILS_ENV == "development" %>	
<script type="text/javascript" src="/javascripts/jquery-1.3.2.js"></script>
<script type="text/javascript" src="/javascripts/jquery.tipTip.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jgrowl.js"></script>
<script type="text/javascript" src="/javascripts/resume_common.js"></script>
<script type="text/javascript" src="/javascripts/profiles/new.js"></script>
<% end %>