<!--
	URL/show/:title/profiles
	app/views/profiles/show.html.erb
	The show resume-profiles view - displays the profiles part for a resume (:title) of a user
	controller: profiles, action: show
-->

<link rel="stylesheet" type="text/css" href="/stylesheets/resume_common.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/profiles/show.css" />

<div class="heading">
	<h3> Profile </h3>
	<div class="links">
		<%= link_to 'Edit', '/edit/'+@resume.title+'/profiles' %>
		<%= link_to 'Remove', '/destroy/'+@resume.title+'/profiles', :confirm => 'Are you sure?', :method => :delete %>
	</div>
</div>

<% if @profile %>
	<table class="profile_table">
		<tr>
			<td class="column1">	Profile info					</td>
			<td class="column2">	<%=h @profile.profile_text %>	</td>
		</tr>
	</table>
<% else %>
	<p>
		No profile data.
		<%= link_to 'Add', '/new/'+@resume.title+'/profiles' %>
	</p>
<% end #if-else %>

<% if RAILS_ENV == "production" %>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.tipTip.minified.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jgrowl_minimized.js"></script>
<script type="text/javascript" src="/javascripts/resume_common.js"></script>
<script type="text/javascript" src="/javascripts/profiles/show.js"></script>
<% end %>

<% if RAILS_ENV == "development" %>
<script type="text/javascript" src="/javascripts/jquery-1.3.2.js"></script>
<script type="text/javascript" src="/javascripts/jquery.tipTip.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jgrowl.js"></script>
<script type="text/javascript" src="/javascripts/resume_common.js"></script>
<script type="text/javascript" src="/javascripts/profiles/show.js"></script>
<% end %>