<table>	
	<tr>
		<td><%= debug(session) %></td>
		<td><%= debug(params) %></td> 
	</tr>
	<tr>
		<td> part object built:</td>
		<td><%= debug(@part) %></td>
	</tr>
</table>	

<h3><%= flash[:error] %></h3>

