

#content{
	clear: both;
	/*width: 70%;*/
	margin-left: 15%;		/* same as margin-left for header */
	margin-right: auto;
	font-family: verdana;
	font-size: 90%;
	overflow: auto;
	padding-bottom: 5em;
}

#content #current_resume{
	float: left;
	width: 65%;
	margin-top: 5em;
	/*border-right: 1px solid #DAE6F0;*/
	overflow: none;
}
#current_resume .current_resume_heading{
	font-size: 100%;
	font-family: arial;
	font-weight: bold;
	margin-bottom: 1em;
}
#current_resume .thumbnail{
	float: left;
	width: 30%;
}
#current_resume .thumbnail img{
	border: 1px solid #ABABFF;
	height: 12em;
}
#current_resume .other_details{
	float: left;
	width: 50%;
	margin: 0 0 0 1em;
}
#current_resume .resume_heading{
	font-weight: bold;
	font-size: 100%;
}
#current_resume .updated_at{
	font-size: 80%;
	margin: 0.25em 0 0 0;
	color: #AAAAAA;
}
#current_resume .desc{
	height: 7em;
	margin: 1em 0 0 0;
	font-size: 80%;
}
#current_resume .desc p{
	margin: 0;
}
#current_resume .actions{
	clear: both;
	font-size: 85%;
	font-weight: bold;
	padding: 2em 0 0 0;
}
#current_resume .actions .action_item{
	display: inline;
	margin: 0 0.5em 0 0;
}


#content .big_buttons_block{
	float: left;
	margin-top: 5em;
	padding: 0 0 3em 0;
	margin-left: 5%;
	width: 35%;
}
.big_buttons_block .big_button{
	background-color: #DAE6F0; 
	color: #23415A;
	font-family: arial;
	font-size: 200%;
	font-weight: bold;
	padding: 0.5em;
	margin: 1em 0 0 0;
	width: 80%;
	text-align: center;
}
.big_button a{
	color: #23415A;
}
.big_button a:hover{
	text-decoration: none;
}



#content #older_resume{
	clear: both;
	padding: 2em 0;
}
#older_resume .older_resume_heading{
	font-size: 100%;
	font-family: arial;
	font-weight: bold;
	margin-bottom: 1em;
}
#older_resume .older_resume_heading .activator{
	padding: 0 2em 0 1em;
}
.older_resume_highlight{
	cursor: default;
	background-color: #DAE6F0;
}
#older_resume .older_resume_list{
	list-style: none;
	padding: 0;
	margin: 0;
}
#older_resume .each_resume{
	margin: 0;
	padding: 0.5em 0 0 0;
	list-style: none;
	clear: both;
	overflow: none;
}
#older_resume .each_resume .resume_title{
	float: left;
	font-weight: bold;
}
#older_resume .each_resume .resume_desc{
	float: left;
	width: 30em;
	margin-left: 1em;
	overflow: hide;
	font-size: 90%;
}