
h3{
	font-family:Helvetica,sans-serif;
}
.heading{
	overflow: auto;			/* To prevent the collapse of the element, since its children are floated */
	margin-top: 1em;
	margin-bottom: 1em;
	padding-bottom: 0.5em;
	border-bottom: 2px solid black;
}

.heading h3{
	float: left;
	margin: 0;
}

.heading .links{
	float: right;
	text-align: right;
	padding-top: 0.2em;		/* links appear a bit raised. Hence the padding */
	padding-right: 0.2em;	/* a scrollbar appears if you right-click. hence the padding */
}

.skills_table{
	clear: both;
	border-collapse: collapse;
	margin-top: 1em;
}

.skills_table tr{
	border: 0;
}
