<!--
	URL/edit2/:title/skills
	app/views/skills/edit2.html.erb 
	The edit2 skills view - edits (AJAXified) skills part of a particular resume 
	controller: skills, action: edit2 
	
	Conventions used for this file - 
-->

<link rel="stylesheet" type="text/css" href="/stylesheets/resume_common.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/educations/edit2.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/skills/edit2.css" />

<span class="loading_msg_baloon">Loading</span>

<div class="heading">
	<h3> <%=h @resume.title %> : skills </h3>
	<div class="links">
	</div>	
</div>

<% form_tag('', :method => "post") do %>	<!-- for authenticity token -->
<div class="parts_container hidden"> 	<!-- contains the part (:skills here) -->
		
		<div class="part" id="skills">
			<div class="part_header"></div>	
			<div class="part_data">
				<div class="editPart">
					<% if @resume.skills.size !=0 %>
						<% @resume.skills.each do |skill| %>
						<%= render :partial => "edit_skill.html.erb" , :locals => {:skill => skill} %> 
						<% end #loop %>
					<% end # %>	
				</div>		
		
				<div class="plus_button"><button type="button">+</button></div>
				<%= render :partial => "add_skill.html.erb" %> 
				
			</div> <!-- part_data -->	
		</div>

		<div class="button_stripe hidden">
			<span class="update">Update</span>
			<span class="clear">Clear</span>
		</div>	

</div>
<% end # form %>

<% if RAILS_ENV == "production" %>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.tipTip.minified.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jgrowl_minimized.js"></script>
<script type="text/javascript" src="/javascripts/resume_common.js"></script>
<script type="text/javascript" src="/javascripts/skills/edit2.js"></script>	
<% end %>

<% if RAILS_ENV == "development" %>	
<script type="text/javascript" src="/javascripts/jquery-1.3.2.js"></script>
<script type="text/javascript" src="/javascripts/jquery.tipTip.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jgrowl.js"></script>
<script type="text/javascript" src="/javascripts/resume_common.js"></script>
<script type="text/javascript" src="/javascripts/skills/edit2.js"></script>
<% end %>