<!--
	URL/new/<title>/contacts
	app/views/contacts/new.html.erb
	The new resume/contacts view - adds a new contact for the resume of a user
	controller: contacts, action: new
-->
		
<link rel="stylesheet" type="text/css" href="/stylesheets/resume_common.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/contacts/new.css" />	

<div class="heading">
	<h3> Add Contact </h3>
	<div class="links">
	</div>	
</div>

<% url = '/create/'+@resume.title+'/contacts' %>
<% form_tag(url, :method => "post") do %>
	<table class="contact_table">

		<tr>
			<td class="column1">Emails</td>
			<td class="column2">
				<input 	
					type="text"
					class="emails"
					name="contact[emails]"></td>
		</tr>

		<tr>
			<td class="column1">Phone nos.</td>
			<td class="column2">
				<input 	
					type="text"
					class="phone_nos"
					name="contact[phone_nos]" ></td>
		</tr>

		<tr>
			<td class="column1">Address</td>
			<td class="column2">
				<textarea 
					class="address"
					name="contact[address]"></textarea></td>
		</tr>

		<tr>  
			<td class="column1"></td>
			<td class="column2 submit"><input name="commit" type="submit" value="Create" > </td>
		</tr> 
	</table>
<% end %> 

<% if RAILS_ENV == "production" %>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.tipTip.minified.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jgrowl_minimized.js"></script>
<script type="text/javascript" src="/javascripts/resume_common.js"></script>
<script type="text/javascript" src="/javascripts/contacts/new.js"></script>	
<% end %>

<% if RAILS_ENV == "development" %>	
<script type="text/javascript" src="/javascripts/jquery-1.3.2.js"></script>
<script type="text/javascript" src="/javascripts/jquery.tipTip.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jgrowl.js"></script>
<script type="text/javascript" src="/javascripts/resume_common.js"></script>
<script type="text/javascript" src="/javascripts/contacts/new.js"></script>
<% end %>