
<!--
	URL/edit2/:title/hobbies
	app/views/hobbies/edit2.html.erb 
	The edit2 hobbies view - edits (AJAXified) hobbies part of a particular resume 
	controller: hobbies, action: edit2 
-->

<link rel="stylesheet" type="text/css" href="/stylesheets/resume_common.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/educations/edit2.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/hobbies/edit2.css" />

<span class="loading_msg_baloon">Loading</span>

<div class="heading">
	<h3> <%=h @resume.title %> : hobbies </h3>
	<div class="links">
	</div>	
</div>

<% form_tag('', :method => "post") do %>	<!-- for authenticity token -->
<div class="parts_container hidden"> 	<!-- contains the part (:hobbies here) -->
		
		<div class="part" id="hobbies">
			<div class="part_header"></div>	
			<div class="part_data">
				<div class="editPart">
					<% if @resume.hobby %>
					<%= render :partial => "edit_hobby.html.erb" , :locals => {:hobby => @resume.hobby} %> 
					<% end #if %>	
				</div>		
				<div class="plus_button <%=h (@resume.hobby)? "hidden" : "" %>">
					<button type="button">+</button>
				</div>
				<%= render :partial => "add_hobby.html.erb" %> 
				
			</div> <!-- part_data -->	
		</div>

		<div class="button_stripe hidden">
			<span class="update">Update</span>
			<span class="clear">Clear</span>
		</div>	

</div>
<% end # form %>

<% if RAILS_ENV == "production" %>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.tipTip.minified.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jgrowl_minimized.js"></script>
<script type="text/javascript" src="/javascripts/resume_common.js"></script>
<script type="text/javascript" src="/javascripts/hobbies/edit2.js"></script>	
<% end %>

<% if RAILS_ENV == "development" %>	
<script type="text/javascript" src="/javascripts/jquery-1.3.2.js"></script>
<script type="text/javascript" src="/javascripts/jquery.tipTip.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jgrowl.js"></script>
<script type="text/javascript" src="/javascripts/resume_common.js"></script>
<script type="text/javascript" src="/javascripts/hobbies/edit2.js"></script>
<% end %>