<!--
	URL/new/:title/hobbies
	app/views/hobbies/new.html.erb 
	The new resume-hobbies view - displays the form to enter hobbies part for a resume (:title) of a user
	controller: hobbies, action: new 
-->

<link rel="stylesheet" type="text/css" href="/stylesheets/resume_common.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/hobbies/new.css" />	

<div class="heading">
	<h3> New Hobbies </h3>
	<div class="links">	</div>	
</div>

<% url = '/create/'+@resume.title+'/hobbies' %>
<% form_tag(url, :method => "post") do %>
	<table class="hobbies_table">
		<tr>
			<td class="column1">Hobbies </td>
			<td class="column2">
				<textarea 
					class="hobbies_text"
					name="hobby[hobbies_text]"></textarea>	</td>
		</tr>
		<tr>  
			<td></td>
			<td class="submit"><input name="commit" type="submit" value="Create" /></td>	
		</tr> 
	</table>
<% end %> 

<% if RAILS_ENV == "production" %>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.tipTip.minified.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jgrowl_minimized.js"></script>
<script type="text/javascript" src="/javascripts/resume_common.js"></script>
<script type="text/javascript" src="/javascripts/hobbies/new.js"></script>	
<% end %>

<% if RAILS_ENV == "development" %>	
<script type="text/javascript" src="/javascripts/jquery-1.3.2.js"></script>
<script type="text/javascript" src="/javascripts/jquery.tipTip.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jgrowl.js"></script>
<script type="text/javascript" src="/javascripts/resume_common.js"></script>
<script type="text/javascript" src="/javascripts/hobbies/new.js"></script>
<% end %>