
h3{
	font-family:Helvetica,sans-serif;
}

.heading{
	width: 60%;
	overflow: auto;			/* To prevent the collapse of the element, since its children are floated */
	margin-top: 2em;
	margin-bottom: 1em;
	border-bottom: 2px solid black;
}

.heading h3{
	float: left;
	margin: 0;
}

.heading .links{
	float: right;
	text-align: right;
	padding-top: 0.2em;		/* links appear a bit raised. Hence the padding */
	padding-right: 0.2em;	/* a scrollbar appears if you right-click. hence the padding */
}

.education_table{
	clear: both;
	width: 50%;
	border-collapse: collapse;
	margin-top: 1em;
	margin-bottom: 1em;
}

.education_table tr{
	border: 0;
}

.education_table .column1{
	width: 20%;
	text-align: right;
	font-weight: bold;	
	padding-right: 1em;
}

.education_table .column2{
	padding-left: 1em;
}

.education_table .more_info_button{
	border: 1px solid black;
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.education_table textarea{
	height: 6em;
	width: 20em;
}

.submit{
	padding-top: 0.5em;
	width: 50%;
}

.submit .column1{
	width: 20%;
}

.submit .column2{
	padding-left: 1em;
}

.tab_heading{
	clear: both;
	margin-bottom: 0.25em;
	margin-top: 2em;
}

.tab_item{
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.inactive_tab{
	border-top:0;
	border-left:0;
	border-right:0;
	border-bottom:1px solid black;
}

.active_tab{
	border-top:1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
	border-bottom:0;
	font-weight:bold;
}

