/************* misc **************/
.loading_msg_baloon{
	background-color: red;
}

/************* heading **************/
h3{
	font-family:Helvetica,sans-serif;
	margin:0;
}

th{
	text-align: left;
}

.hidden{
	display: none;
}

.heading{
	width: 60%;
	overflow: auto;			/* To prevent the collapse of the element, since its children are floated */
	margin-top: 2em;
	margin-bottom: 1em;
	padding-bottom: 0.5em;
	border-bottom: 2px solid black;
}
.heading h3{
	float: left;
	margin: 0;
}
.heading .links{
	float: right;
	text-align: right;
	padding-top: 0.2em;		/* links appear a bit raised. Hence the padding */
	padding-right: 0.2em;	/* a scrollbar appears if you right-click. hence the padding */
}

.button_stripe span{
	font-size: 70%;
	background-color: orange;
	padding-left: 1em;
	padding-right: 1em;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}
/****** part container *******/

.parts_container{
	width: 60%;
	font-family: verdana, sans-serif;
	font-size: 80%;
}
.part{
	margin-top: 1em;
	padding: 1em;
}
.part .part_header{
}
.part .part_data{
}
.part p{				/* <P></P> is to identify elements that need to display contents with line-breaks */
	margin: 0;		/* Remove the automatic margin. */
}
.part .partUnit{
	clear: both;
	margin-bottom: 3em;
}
.part .partItem{
	clear: both;
	overflow: hidden;
	line-height: 1.5em;
}
.part .key_text{ 	/* for both editPart and addPart */
	float: left;
	font-weight: bold;
	width: 25%;
	text-align: right;
	padding-right: 1em;
}
.part .editPart .edit{

}
.part .editPart .display{
	float: left;
	/*width: 60%;		/* 25% is the key_text, left the rest */
}
.part .editPart .delete_button{
	text-align: right;
}
.part .editPart .delete_button button{
	font-size: 70%;
	padding: 0;
}
.part .addPart{
	clear: both;
}
.part .addPart .delete_button{
}