<!-- add markup for achievement part - one achievement object in one go -->
<!--
	CLASSname 	:DESCRIPTION and USAGE
	partUnit 	:a single instance of the part - one achievement detail (represnted by one object)
	partItem	:an item within a part - field of the model (a property of object) eg - achievement level
	deleteable	:an element that can be deleted with a delete button within it
	key_text	:the text that is displayed as the label for data displayed or input box renderd
	display		:identifies an element that displays data while show
	edit		:identifies an imput box meant for editing
	add			:identifies an input box meant for adding
	delete_button:	a button that can trigger the delete functionality and delete the deletable element
-->

<div class="addPart">
	<div class="partItem achievements_text">
		<!--<span class="key_text">achievements text</span>-->
		<div class="value_block">
			<span class="display hidden"></span>
			<textarea
					class="add tooltip_trigger"
					name="achievement[achievements_text]"></textarea>
			<span class="tooltip hidden">list out your achievements/awards/honours/recognition etc</span>
		</div>
	</div>

	<div class="delete_button">
		<button type="button">delete</button>
	</div>

</div>	<!-- addPart -->