
<!--
	URL/edit2/:title/achievements
	app/views/achievements/edit2.html.erb
	The edit2 achievements view - edits (AJAXified) achievements part of a particular resume
	controller: achievements, action: edit2
-->

<link rel="stylesheet" type="text/css" href="/stylesheets/resume_common.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/educations/edit2.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/achievements/edit2.css" />

<span class="loading_msg_baloon">Loading</span>

<div class="heading">
	<h3> <%=h @resume.title %> : achievements </h3>
	<div class="links">
	</div>
</div>

<% form_tag('', :method => "post") do %>	<!-- for authenticity token -->
<div class="parts_container hidden"> 	<!-- contains the part (:achievements here) -->

		<div class="part" id="achievements">
			<div class="part_header"></div>
			<div class="part_data">
				<div class="editPart">
					<% if @resume.achievement %>
					<%= render :partial => "edit_achievement.html.erb" , :locals => {:achievement => @resume.achievement} %>
					<% end #if %>
				</div>
				<div class="plus_button <%=h (@resume.achievement)? "hidden" : "" %>">
					<button type="button">+</button>
				</div>
				<%= render :partial => "add_achievement.html.erb" %>

			</div> <!-- part_data -->
		</div>

		<div class="button_stripe hidden">
			<span class="update">Update</span>
			<span class="clear">Clear</span>
		</div>

</div>
<% end # form %>

<% if RAILS_ENV == "production" %>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.tipTip.minified.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jgrowl_minimized.js"></script>
<script type="text/javascript" src="/javascripts/resume_common.js"></script>
<script type="text/javascript" src="/javascripts/achievements/edit2.js"></script>
<% end %>

<% if RAILS_ENV == "development" %>
<script type="text/javascript" src="/javascripts/jquery-1.3.2.js"></script>
<script type="text/javascript" src="/javascripts/jquery.tipTip.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jgrowl.js"></script>
<script type="text/javascript" src="/javascripts/resume_common.js"></script>
<script type="text/javascript" src="/javascripts/achievements/edit2.js"></script>
<% end %>