<!--
			URL/show/:title/achievements		.....|......
			app/views/achievements/create.html.erb ......|...... 
			The show resume-achievements view - displaye the achievement part for a resume (:title) of a user	......|......
			controller: achievements, action: show 
-->

<link rel="stylesheet" type="text/css" href="/stylesheets/resume_common.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/achievements/show.css" />	

<div class="heading">
	<h3> Achievements </h3>
	<div class="links">
		<%= link_to 'Edit', '/edit/'+@resume.title+'/achievements' %>
		<%= link_to 'Remove', '/destroy/'+@resume.title+'/achievements', :confirm => 'Are you sure?', :method => :delete %>	
	</div>	
</div>

<% if @achievement %>
	<table class="achievements_table"><tr>
			<td class="column1"> Achievements </td>
			<td class="column2 achievements_text">	<%=h @achievement.achievements_text %>	</td>
	</tr></table>
<% else %>
	<p>
		No achievement data.
		<%= link_to 'Add', '/new/'+@resume.title+'/achievement' %>		
	</p>	
<% end #if-else %>

<% if RAILS_ENV == "production" %>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.tipTip.minified.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jgrowl_minimized.js"></script>
<script type="text/javascript" src="/javascripts/resume_common.js"></script>
<script type="text/javascript" src="/javascripts/achievements/show.js"></script>	
<% end %>

<% if RAILS_ENV == "development" %>	
<script type="text/javascript" src="/javascripts/jquery-1.3.2.js"></script>
<script type="text/javascript" src="/javascripts/jquery.tipTip.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jgrowl.js"></script>
<script type="text/javascript" src="/javascripts/resume_common.js"></script>
<script type="text/javascript" src="/javascripts/achievements/show.js"></script>
<% end %>