<div class="addPart">
	<div class="address">
		<span class="key_text">Address</span>
		<span class="display hidden"></span>
		<textarea
				class="add"
				name="contact[address]"
				></textarea>
	</div>

	<div class="phone_nos">
		<span class="key_text">Phone_nos</span>
		<span class="display hidden"></span>
		<input	type="text"
				class="add"
				name="contact[phone_nos]">
	</div>

	<div class="emails">
		<span class="key_text">Emails</span>
			<span class="display hidden"></span>
			<input	type="text"
					class="add"
					name="contact[emails]" >
	</div>

	<div class="button_stripe">
		<span class="update">Update</span>
		<span class="clear">Clear</span>
	</div>
</div> <!-- addPart -->
