<div class="addPart">
	<div class="skillset_type">
		<span class="key_text">skillset-type</span>	
		<span class="display hidden"></span>
		<input 	type="text"
				class="add"
				name="skills[skillset_type]">
	</div>
	<div class="skill_name">
		<span class="key_text">skill-name</span>
		<span class="display hidden"></span>
		<input	type="text"
				class="add"
				name="skills[skill_name]" >
	</div>
	<div class="skill_remarks">
		<span class="key_text">remarks</span>
		<span class="display hidden"></span>
		<input	type="text"
				class="add"
				name="skills[skill_remarks]">
	</div>
	<div class="button_stripe">
		<span class="update">Update</span>
		<span class="clear">Clear</span>
	</div>
</div>	<!-- addPart -->	