<div class="addPart">

	<div class="hobbies_text">
		<span class="key_text">hobbies text</span>
		<span class="display hidden"></span>
		<textarea
				class="add"
				name="hobby[hobbies_text]"></textarea>
	</div>	
	
	<div class="button_stripe">
		<span class="update">Update</span>
		<span class="clear">Clear</span>
	</div>
	
</div>	<!-- addPart -->