<!-- markup for content heading -->

<%
	dashboard_url 	= "/dashboard"	
	options_url		= "/options/#{resume.title}" 	unless !resume
	canvas_url 		= "/canvas/#{resume.title}" 	unless !resume	
	view_url		= "/view/#{resume.title}" 		unless !resume	
	pdf_url			= "/makepdf/#{resume.title}" 	unless !resume	
	logout_url		= "/logout"
	newResume_url 	= "/new" 
%>


<div class="heading">
	
		<div class="left_side">
			<%= link_to 'dashboard', 	dashboard_url, 	{:class => "heading_item dashboard_link"} %>	
			<%= link_to 'logout', 		logout_url, 	{:class => "heading_item logout_link"} %>	
		</div>
		<div class="right_side">
			<%= link_to 'New resume',	newResume_url,	{:class => "new_resume_button heading_item" } %>
		</div>
			
</div>