<!-- markup for content heading -->

<%
	dashboard_url 	= "/dashboard"
	home_url		= "/home"
	options_url		= "/options/#{resume.title}" 	unless !resume
	canvas_url 		= "/canvas/#{resume.title}" 	unless !resume
	view_url		= "/view/#{resume.title}" 		unless !resume
	pdf_url			= "/makepdf/#{resume.title}" 	unless !resume
	logout_url		= "/logout"
	newResume_url 	= "/new"
%>


<div class="heading">

		<div class="left_side">
			<%= link_to 'home', 	home_url, 	{:class => "heading_item home_link"} %>
		</div>
		<div class="right_side">
			<%= link_to 'logout', 		logout_url, 	{:class => "heading_item logout_link"} %>
		</div>

</div>