<h3> params: </h3>
<%= debug(params) %>
<hr/>
<h3> session: </h3>
<%= debug(session) %>
<hr/>
<h3>flash:</h3>
<%= flash[:error] %>
<hr/>
<!--
<h3> result: </h3>
<%#= debug(@result) %>
<hr/>
<h3> resume parts: </h3>
<%#= debug(@resume.parts) %>
<h4>subpart [1]</h4>
<%# subp = @resume.parts[1].subparts %>
<%#= debug(subp) %>
<hr/>
-->