<div id="content"> 

	<div id="parts_container">
	<div class="interior">

	<% submit_path = "/update2" %>
	<% form_for :resume, @resume, :url =>submit_path, :html => {:class=>""} do |resume_form| %>
			
			<div id="all_parts">
				<div class="resume_part url_holder" id="username">
					<span class="display"><%=h @resume.name %></span>
					<%= resume_form.text_field :name, :class=> "edit" %>
				</div>	<!-- /username -->
				
				<% @resume.parts.each do |part_obj| %>
					<%= render :partial => "parts/show", :locals => { :part => part_obj } %>
				<% end #loop- part%>
			</div> <!-- all parts -->

				<br/><br/><br/>
			<div id="addPart_block" class="addPart_block">
				<div class="addPart_options hidden">
					<%	options_arr = []
						@parts_titles_list.each do |part_title|
							options_arr << [part_title, part_title]
						end	
					%>
					<%= select_tag(:new_part_title, options_for_select(options_arr) ) %>
				</div>
				<button type="button" class="addPart_submit_button hidden">go</button>
				<button type="button" class="addPart_button">Add New Part</button>
			</div>

	<% end #form_for %> 
	</div>	<!-- /interior -->
	</div>	<!-- /parts_container -->		
		
</div>	<!-- /content -->

<div class="button_stripe hidden">
	<button type="button" class="update">Update</button>
	<button type="button" class="clear">Cancel</button>
	<span class="ajax_processing_msg hidden">doing...</span>
</div>

<% if RAILS_ENV == "production" %>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.tipTip.minified.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jgrowl_minimized.js"></script>
<script type="text/javascript" src="/javascripts/resume_common.js"></script>
<script type="text/javascript" src="/javascripts/resumes/edit.js"></script>	
<% end %>

<% if RAILS_ENV == "development" %>	
<script type="text/javascript" src="/javascripts/jquery-1.3.2.js"></script>
<script type="text/javascript" src="/javascripts/jquery.tipTip.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jgrowl.js"></script>
<script type="text/javascript" src="/javascripts/resume_common.js"></script>
<script type="text/javascript" src="/javascripts/resumes/edit.js"></script>
<% end %>