<!--
			URL/new/
			app/views/resumes/new.html.erb 
			The new resume view - displays the form to start builgin a new resume 
			Note that the URL doesn't have the title as it is decided only in this step 
			controller: resumes, action: new 
-->
<link rel="stylesheet" type="text/css" href="/stylesheets/resumes/new.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/tipTip.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.jgrowl.css" />
	

<div id="content">

	<% url = '/create2' %>
	<% form_tag(url, :method => "post") do %>

		<div id="new_resume_block">

			<div class="form_heading">create a new resume</div>
			
			<div class="newItem" id="username">
				<div class="key_text">your name</div>
				<div class="value_item">
					<input 	
						type="text"
						class="input tooltip_trigger"
						name="resume[name]">
					<span class="tooltip hidden">your name as it should appear in the resume</span>		
				</div>	
			</div>

			<div class="newItem" id="resume_title">
				<div class="key_text">resume title </div>
				<div class="value_item">
					<input 	
						type="text"
						class="input tooltip_trigger"
						name="resume[title]">
					<span class="tooltip hidden">short title of the resume, eg- myresume01, cv25. Put no spaces. Use only alphabets/numbers/underscore</span>			
				</div>	
			</div>

			<div class="newItem" id="desc">
				<div class="key_text">description</div>
				<div class="value_item">
					<textarea 
						class="input tooltip_trigger"
						name="resume[meta_desc]"></textarea>
					<span class="tooltip hidden">resume desc, eg - resume for application to microsoft</span>		
				</div>	
			</div>
			
			<div class="newItem" id="copy_resume">
				<div class="key_text">copy existing resume</div>
				<div class="value_item">
					<input
						type="text"
						class="input tooltip_trigger"
						name="copy_name">
					<span class="tooltip hidden">give the name of an existing resume</span> 	
				</div>
			</div>

			<div class="create_button_block">
				<button class="create_button" name="commit" type="submit">Create</button>
				<button class="dummy_submit tooltip_trigger hidden" type="button">Create</button>
				<span class="tooltip hidden">activated after you enter valid inputs</span>
				<span class="ajax_processing_msg hidden">doing...</span>
			</div>
			
		</div>	<!-- /new_resume_block -->	
		
	<% end #form %>

	<div id="error_msg" class="hidden"><%=h flash[:error_new] %></div>
	
</div>	<!-- /content -->

<% if RAILS_ENV == "production" %>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.tipTip.minified.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jgrowl_minimized.js"></script>
<script type="text/javascript" src="/javascripts/resume_common.js"></script>
<script type="text/javascript" src="/javascripts/resumes/new.js"></script>	
<% end %>

<% if RAILS_ENV == "development" %>	
<script type="text/javascript" src="/javascripts/jquery-1.3.2.js"></script>
<script type="text/javascript" src="/javascripts/jquery.tipTip.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jgrowl.js"></script>
<script type="text/javascript" src="/javascripts/resume_common.js"></script>
<script type="text/javascript" src="/javascripts/resumes/new.js"></script>
<% end %>
