<h3> meta_desc: </h3> 
<%= debug(@resume.meta_desc) %>
<hr/>
<h3> params </h3>
<%= debug(params) %>
<hr/>
<h3> session: </h3>
<%= debug(session) %>
<hr/>
<h3>flash:</h3>
<%= flash[:error] %>
<hr/>
